{% load static %}

<!doctype html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% include 'includes/links.html' %}
  <link rel="stylesheet" href="{% static 'dialog/style.css' %}">
  <title>Document</title>
</head>

<body>
  <div class="container my-5">
    <div class="chat-container">
      <div class="chat-box-list border rounded p-3 mb-3">
        <ul class="list-unstyled">
          <li class="text-start w-50">
            <span class="bg-primary p-2 rounded text-white">Bot message</span>
          </li>
          <li class="text-end">
            <span class="bg-secondary p-2 rounded text-white">User message</span>
          </li>
        </ul>
      </div>
      <button type="button" class="btn btn-info">Enviar Mensagem</button>
    </div>
  </div>
  <script src="{% static 'dialog/script.js' %}"></script>
  {% include 'includes/scripts.html' %}
</body>

</html>